.infosection__right li {
    margin-bottom: 10px;
}

.wpcf7 form .wpcf7-response-output {
    border: none;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    color: #ffb900;
}

.wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    color: #dc3232;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.wpcf7-not-valid-tip {
    position: absolute;
}

.errorpage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.errorpage__content {
    text-align: center;
}

.errorpage__content span {
    font-size: 165px;
    font-weight: 900;
    color: #94B945;
    text-shadow: 0 0 2px #3c4b1e, 0 0 2px #36411e;
    margin-bottom: 30px;
}

.errorpage__content p {
    font-size: 22px;
    margin-bottom: 30px;
}

.errorpage__buttons {
    text-align: center;
}

#loadmore,
#loadmore-cases {
    color: var(--green);
    font-weight: 600;
    font-size: 20px;
}




/* customized cookies styles */

.cky-btn-revisit-wrapper {
    background: #95BA46 !important;
}

.cky-box-bottom-left {
    bottom: 10px !important;
    left: 50% !important;
    transform: translateX(-50%);
}

.cky-consent-container {
    border-radius: 6px;
    width: 100% !important;
    max-width: 755px;
    border-radius: 12px !important;
}


.cky-consent-bar::before {
    content: '';
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: url(../img/cookie.png);
    background-size: cover;
}

.cky-notice {
    width: calc(100% - 80px);
}

.cky-consent-bar .cky-notice .cky-title {
    margin-bottom: 20px;
    color: #383838;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.cky-consent-container .cky-consent-bar {
    padding: 42px 35px 35px 35px !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
    border-radius: 20px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cky-notice-group {
    display: flex;
}

.cky-notice-des {
    width: 100%;
    max-width: calc(100% - 141px);
    flex: 0 0 calc(100% - 141px);
    padding-right: 30px;
}

.cky-notice-group .cky-notice-btn-wrapper {
    width: 100%;
    max-width: 141px;
    flex: 0 0 141px;
    margin-top: 0;
}

.cky-notice-des p {
    color: #7A7A7A;
    font-size: 14px;
    line-height: 150%;
}

.cky-notice-des a {
    color: #95BA46;
}

.cky-btn.cky-btn-customize,
.cky-btn.cky-btn-reject {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    text-decoration: none;
    font-weight: 500;
    min-height: 41px;
    border-radius: 40px;
    margin: 0;
    transition: 0.3s;
    width: 100%;
    border-width: 1px;
}


.cky-btn.cky-btn-preferences,
.cky-btn.cky-btn-accept {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
    font-weight: 500;
    min-height: 41px;
    border-radius: 40px;
    transition: 0.3s;
    margin: 0 0 15px;
    border-width: 1px;
}

.cky-btn.cky-btn-reject {
    order: 1;
}

.cky-btn.cky-btn-customize:hover,
.cky-btn.cky-btn-reject:hover,
.cky-btn.cky-btn-preferences:hover,
.cky-btn.cky-btn-accept:hover {
    filter: brightness(120%);
}


.cky-prefrence-btn-wrapper .cky-btn.cky-btn-preferences {
    max-width: 350px;
    width: 100%;
    margin: 20px auto 0;
}

.cky-prefrence-btn-wrapper .cky-btn.cky-btn-accept,
.cky-prefrence-btn-wrapper .cky-btn.cky-btn-reject {
    display: none;
}

.cky-preference-header {
    padding: 50px 50px 15px !important;
    border-bottom: none !important;
    position: relative;
}


.cky-preference-center {
    overflow: initial !important;
    width: 710px !important;
}

.cky-preference-header .cky-btn-close {
    display: none;
}

.cky-preference-center .cky-preference-header .cky-preference-title {
    color: #95BA46 !important;
    font-size: 19px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    width: 100%;
}

.cky-preference-center .cky-preference-body-wrapper {
    padding: 0 50px;
}

.cky-preference-body-wrapper .cky-preference-content-wrapper,
.cky-gpc-wrapper .cky-gpc-desc {
    padding: 0px 0 25px;
}

.cky-preference-center .cky-preference-body-wrapper::-webkit-scrollbar {
    width: 10px;
}

.cky-preference-center .cky-preference-body-wrapper::-webkit-scrollbar-track {
    background: #fff;
}

.cky-preference-center .cky-preference-body-wrapper::-webkit-scrollbar-thumb {
    background-color: #95BA46;
    border-radius: 20px;
    border: 3px solid #fff;
}

.cky-footer-wrapper .cky-footer-shadow {
    display: none;
}

.cky-accordion-header-des {
    margin: 0 !important;
}

.cky-accordion-header-des p {
    margin-bottom: 0;
}

.cky-accordion-header-wrapper .cky-accordion-header {
    margin: 0 0 18px;
}

.cky-accordion-header-wrapper .cky-accordion-header .cky-accordion-btn {
    color: #222;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.cky-footer-wrapper .cky-prefrence-btn-wrapper {
    border-top: none;
    padding: 0px 50px 50px;
}

.cky-prefrence-btn-wrapper+div {
    display: none !important;
}

.cky-preference-header,
.cky-preference-body-wrapper,
.cky-preference-content-wrapper,
.cky-accordion-wrapper,
.cky-accordion,
.cky-accordion-wrapper,
.cky-footer-wrapper,
.cky-prefrence-btn-wrapper {
    border-color: #95BA46 !important;
}

.cky-accordion .cky-accordion-item {
    margin-top: 0px !important;
    padding: 20px 0;
}

.cky-switch input[type="checkbox"]:checked {
    background: #95BA46 !important;
}


@media (max-width: 1199.8px) {

    .cky-consent-container {
        max-width: 650px;
    }
}

@media (max-width: 991.8px) {

    .cky-consent-container {
        max-width: 700px;
    }

    .cky-notice-group {
        flex-wrap: wrap;
    }

    .cky-notice-des {
        padding-right: 0;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .cky-notice-group .cky-notice-btn-wrapper {
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 30px;
    }
}

@media (max-width: 767.8px) {

    .cky-consent-container {
        max-width: calc(100% - 40px);
    }

    .cky-consent-container::before {
        right: 0;
        top: 0;
        margin: 0 auto;
        transform: translate(0, -50%);
    }

}

@media (max-width: 575.8px) {
    .cky-modal {
        max-width: calc(100% - 24px) !important;
    }

    .cky-notice {
        width: calc(100% - 20px);
    }

    .cky-preference-center {
        max-height: 85vh !important;
    }

    .cky-preference-header {
        padding: 40px 20px 15px !important;
    }

    .cky-footer-wrapper .cky-prefrence-btn-wrapper {
        padding: 0px 20px 20px;
    }

    .cky-preference-center .cky-preference-body-wrapper {
        padding: 0 20px;
    }

    .cky-consent-container {
        max-width: calc(100% - 24px);
    }

    .cky-consent-container .cky-consent-bar {
        padding: 15px 20px 20px 20px !important;
        flex-direction: column;
    }

    .cky-consent-bar::before {
        margin-bottom: 15px;
    }
}

@media (max-width: 440px) {

    .cky-custom-brand-logo-wrapper,
    .cky-notice .cky-title,
    .cky-notice-des,
    .cky-notice-btn-wrapper {
        padding: 0 !important;
    }

    .cky-box-bottom-left,
    .cky-box-bottom-right,
    .cky-box-top-left,
    .cky-box-top-right {
        max-width: calc(100% - 24px) !important;
    }

    .cky-notice-group .cky-notice-btn-wrapper {
        margin-top: 15px;
    }
}


/* ------------------------ */