:root {
    --green: #94B945;
}


:root {
    scroll-behavior: inherit;
}

body,
html {
    height: 100%;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background: #fff;
}

body * {
    line-height: 150%;
}

@media(min-width:1500px) {
    .container {
        max-width: 1450px;
    }
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h1 {
    font-weight: 600;
    font-size: 100px;
    color: #96BB47;
    line-height: 1;
    margin-bottom: 40px;

    span {
        font-size: 65px;
        line-height: 130%;
        color: #282828;
        display: block;
        margin-top: -10px;
    }
}

.greenbrn {
    min-height: 58px;
    max-width: 218px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #97BC48;
    background: #97BC48;
    font-size: 18px;
    font-weight: 500;
    border-radius: 60px;
    color: #fff;
    transition: 0.3s;

    &:hover {
        background: #729131;
    }
}

.section_title {
    display: block;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 35px;
    line-height: 130%;
    color: #282828;
}

.yellowbox {
    background: rgba(#EFE376, 0.4);
}

.bluebox {
    background: rgba(#52CAFC, 0.4);
}

.greenbox {
    background: rgba(#94B945, 0.4);
}

.inputfield {
    margin-bottom: 25px;

    input {
        height: 56px;
        border: 1px solid rgba(#ADADAD, 0.35);
        background: #F5FEE1;
        width: 100%;
        border-radius: 30px;
        padding: 0 20px;
        font-size: 17px;
        font-family: "Montserrat", sans-serif;
        color: #8B8B8B;
        transition: 0.3s;

        &::placeholder {
            color: #8B8B8B;
        }

        &:focus {
            border-color: #97BC48;
        }
    }

    textarea {
        width: 100%;
        height: 167px;
        border: 1px solid rgba(#ADADAD, 0.35);
        background: #F5FEE1;
        border-radius: 20px;
        padding: 15px 20px;
        font-size: 17px;
        font-family: "Montserrat", sans-serif;
        color: #8B8B8B;
        outline: none;
        resize: none;
        transition: 0.3s;

        &:focus {
            border-color: #97BC48;
        }
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single {
        background: #F5FEE1;
        border: 1px solid rgba(#ADADAD, 0.35);
        border-radius: 30px !important;
        height: 56px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 56px;
        padding-left: 20px;
        color: #8B8B8B;
        font-size: 17px;
        padding-right: 50px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        width: 25px;
        height: 25px;
        background: url('../img/main/select-arrow.svg') no-repeat center / 100%;
        right: 20px;
        top: 17px;
        transition: 0.3s;

        b {
            display: none;
        }
    }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
        transform: rotate(-180deg);
    }

    .select2-container--default.select2-container--open .select2-selection--single {
        border-color: #97BC48;
    }

}

.select2-container--open .select2-dropdown--below {
    border-radius: 20px !important;
    overflow: hidden;
    padding: 10px 0;
    box-shadow: 0 4px 15px rgba(#000, 0.12);
    margin-top: 10px;
    border: none;
}

.select2-results__option {
    padding: 6px 20px;
    font-size: 17px;
    color: #222 !important;
    font-weight: 500;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: rgba(#95BA46, 0.15);
}

.select2-container--default .select2-results>.select2-results__options {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background: rgba(#000, 0.05);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(#95BA46, 0.55);
        border-radius: 10px;
        // outline: 1px solid slategrey;
    }
}

.uppercase {
    text-transform: uppercase;
}

// breadcrumbs ---- //
.crumbs {

    a,
    span {
        color: #777777;
        font-size: 16px;
        line-height: 165%;
        cursor: default;
    }
    a{
        transition: .3s;
        cursor: pointer;
        &:hover{
            color: #96BB47;
        }
    }

    .sep {
        margin: 0 14px;
        border-radius: 50%;
        background: #96BB47;
        width: 5px;
        height: 5px;
        display: inline-block;
        vertical-align: middle;
    }
}

// --- //

//  phone btn ---- //
.phonebtn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: .6s;
    &:hover{
        filter: brightness(80%);
    }
}
//  --- //

@media(max-width:1599.8px) {
    h1 {
        font-size: 80px;
        margin-bottom: 30px;

        span {
            font-size: 50px;
        }
    }


    .section_title {
        font-size: 40px;
        margin-bottom: 25px;
    }
}

@media(max-width:1499.8px) {
    h1 {
        font-size: 70px;

        span {
            font-size: 40px;
        }
    }

    .section_title {
        font-size: 36px;
    }

    .inputfield {
        margin-bottom: 15px;
    }

}

@media(max-width:1199.8px) {
    h1 {
        font-size: 60px;

        span {
            font-size: 35px;
        }
    }

    .section_title {
        font-size: 32px;
    }
}

@media(max-width:575.8px) {
    h1 {
        font-size: 50px;
        margin-bottom: 20px;

        span {
            font-size: 30px;
        }
    }

    .greenbrn {
        max-width: 100%;
        min-height: 54px;
    }

    .section_title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .inputfield input {
        height: 50px;
    }

    .inputfield .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 50px;
    }

    .inputfield .select2-container--default .select2-selection--single {
        height: 50px;
    }

    .inputfield .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 13px;
    }

    .inputfield textarea,
    .inputfield input,
    .inputfield .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 16px;
    }


}