header.header {
    padding: 30px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 12;

    nav>ul {
        text-align: center;

        &>li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 36px;

            &>a {
                font-weight: 500;
                color: #282828;
                position: relative;
                z-index: 2;
                padding: 10px 0;

                &::after {
                    content: '';
                    display: block;
                    border-radius: 10px 10px 0 0;
                    height: 3px;
                    width: 0;
                    background: #94B945;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: -34px;
                    transition: 0.3s;
                }


            }

            &:hover {
                a {
                    &::after {
                        width: 100%;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.scroll {
        background: #fff;
        box-shadow: 0 0 8px rgba(#000, 0.2);
        padding: 15px 0;

        .menudd {
            top: 16px;
        }

        nav>ul>li>a:after {
            bottom: -21px;
        }
    }

    .container {
        position: relative;
    }
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__leftsect {
    width: 100%;
    max-width: 245px;
    flex: 0 0 245px;

    img {
        max-width: 240px;
        width: 100%;
    }
}

.header__centersect {
    width: 100%;
    max-width: calc(100% - 490px);
    flex: 0 0 calc(100% - 490px);
}

.header__rightsect {
    width: 100%;
    max-width: 245px;
    flex: 0 0 245px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__contact {
    display: inline-flex;
    height: 46px;
    width: 100%;
    max-width: 148px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background: #95BA46;
    color: #fff;
    font-weight: 500;
}

.header__lang {
    width: 100%;
    max-width: 61px;
    flex: 0 0 61px;
    position: relative;

    span {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        color: #282828;
        cursor: pointer;
        padding: 10px 0;
    }

    ul {
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: 0.3s;
        position: absolute;
        left: 0;
        top: calc(100% - 4px);
        background: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.11);
        width: 80px;
        border-radius: 7px;
        padding: 3px 0;
        transform: translateY(-6px);

        li {
            a {
                display: block;
                padding: 5px 10px;
                transition: 0.3s;
                color: #282828;
                font-weight: 500;

                &:hover {
                    background: rgba(149, 186, 70, 0.1);
                }
            }
        }
    }

    span {
        &:hover {
            &+ul {
                display: block;
                opacity: 1;
                z-index: 2;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    ul:hover {
        display: block;
        opacity: 1;
        z-index: 2;
        visibility: visible;
        transform: translateY(0);
    }
}

.menudd {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    padding-top: 50px;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.3s;
}

.menudd__wrapper {
    background: #fff;
    box-shadow: 0 4px 20px rgba(#000, 0.1);
    border-radius: 0 0 20px 20px;
    padding: 65px 185px 40px;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 100%;
            max-width: 33.333%;
            flex: 0 0 33.333%;
            text-align: left;
            margin-bottom: 25px;

            a {
                position: relative;
                display: flex;
                align-items: center;
                max-width: 280px;
                font-size: 16px;
                font-weight: 500;
                color: #222;


                .icon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    max-width: 45px;
                    flex: 0 0 45px;
                    height: 45px;
                    background: rgba(#E2ECF7, 0.5);
                    border-radius: 7px;

                    img {
                        filter: drop-shadow(0 0 7px rgba(#5E569B, 0.2));
                    }
                }

                span {
                    display: block;
                    width: 100%;
                    max-width: calc(100% - 45px);
                    flex: 0 0 calc(100% - 45px);
                    padding-left: 15px;
                    line-height: 130%;
                }
            }

            &:nth-child(3n) {
                padding-left: 50px;
            }
        }


    }
}

header.header nav>ul>li>a:hover+.menudd,
.menudd:hover {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transform: translateY(0);
}

.headermenu {
    display: none;
}

@media(max-width:1499.8px) {

    header.header nav>ul>li {
        margin-right: 20px;
    }

    .menudd__wrapper {
        padding: 50px 100px 20px;
    }

    .menudd__wrapper ul li {
        margin-bottom: 20px;
    }


}

@media(max-width:1199.8px) {
    .headermenu {
        display: inline-block;
        width: 32px;
        height: 32px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        img {
            width: 28px;
        }
    }

    .header__centersect,
    .header__contact {
        display: none;
    }

    .header__rightsect {
        max-width: 120px;
        flex: 0 0 120px;
    }

    .header__wrapper {
        justify-content: space-between;
    }
}

@media(max-width:575.8px) {

}



