.mainhero {
    padding: 112px 0 40px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: rgba(#F3FBF6, 0.8);

    p {
        max-width: 515px;
        color: #7A7A7A;
        font-weight: 500;
        margin-bottom: 50px;
    }
}

.whatweoffer {
    padding: 100px 0 130px;

    .section_title {
        text-align: center;
    }

    .subtitle {
        margin: 0 auto 70px;
        max-width: 514px;
        font-weight: 500;
        color: #7A7A7A;
        text-align: center;
    }
}

.offerswrapper {
    padding: 0 80px;

    .row {
        margin-left: -32px;
        margin-right: -32px;

        .col-xl-4 {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}

.offerbox {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 0 50px 50px 50px;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 4px 14px rgba(#000, 0.12);
    }

    .offerbox__top {
        height: 229px;
    }

    .offerbox__bottom {
        padding: 0 30px 47px 30px;
    }

    .title {
        margin-bottom: 15px;
        color: #434343;
        font-weight: 600;
        font-size: 21px;
        line-height: 130%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    p {
        color: #5C5C5C;
        margin-bottom: 0;
    }

    .learnmore {
        font-weight: 600;
        display: inline-flex;
        align-items: center;

        img {
            margin-left: 10px;
        }
    }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 20px;
        height: 138px;
    }

    &.yellowbox {
        .learnmore {
            color: #C3B000;
        }
    }

    &.bluebox {
        .learnmore {
            color: #46B8E5;
        }
    }

    &.greenbox {
        .learnmore {
            color: #94B945;
        }
    }

}

.infosection {
    padding: 90px 0;

    &.infosection_green {
        background: rgba(#D4E3B5, 0.4);
    }

    p {
        color: #7A7A7A;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .greenbrn {
        margin-top: 25px;
    }
}

.choosesect {
    padding: 130px 0 150px;

    .choosesect__descr {
        max-width: 625px;
    }

    .imgwrapper {
        position: relative;

        .bigimg {
            border-radius: 40px 0 40px 40px;
        }

        .leaf {
            position: absolute;
            left: -37px;
            bottom: -23px;
        }
    }

    p {
        color: #7A7A7A;
        font-weight: 500;
        margin-bottom: 20px;
        max-width: 546px;
    }

    .greenbrn {
        margin-top: 25px;
    }
}

.testimonials {
    padding: 100px 0 90px;
    background: #FAF6D5;
    overflow: hidden;
    position: relative;

    .sliderwrapper {
        position: relative;
    }

    .section_title {
        text-align: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 30px;
        height: 30px;
        margin-top: -50px;

        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        background: url('../img/main/sliderleft.png') no-repeat center / 100%;
        left: -50px;
    }

    .swiper-button-next {
        background: url('../img/main/sliderright.png') no-repeat center / 100%;
        right: -50px;
    }

}

.testimonialslider {
    margin-top: 75px;
    padding-bottom: 79px;

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        opacity: 1 !important;
    }

    .swiper-pagination-bullet {
        background: #94B945;
        opacity: 0.4 !important;
        margin: 0 8px !important;
    }


}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 390px;
    border-radius: 50px 50px 50px 0;
    position: relative;
    overflow: hidden;

    .testimonial__top {
        padding: 25px;

        p {
            color: #454545;
            line-height: 160%;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
            overflow: hidden;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .testimonial__bott {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .usericon {
            width: 100%;
            max-width: 118px;
            flex: 0 0 118px;

            img {
                vertical-align: top;
                width: 100%;
            }
        }

        .userinfo {
            width: 100%;
            max-width: calc(100% - 118px);
            flex: 0 0 calc(100% - 118px);
            padding: 0 20px 10px 10px;

            .title {
                color: #383838;
                margin-bottom: 5px;
                line-height: 140%;
                font-size: 16px;
                font-weight: 600;
            }

            p {
                color: #7B828F;
                margin: 0;
                font-size: 14px;
            }
        }
    }
}

.contactsection {
    padding: 100px 0 170px;

    .row {
        margin-left: -8px;
        margin-right: -8px;

        .col-12,
        .col-lg-6 {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .section_title {
        text-align: center;
    }

    .subtitle {
        max-width: 480px;
        text-align: center;
        font-weight: 500;
        color: #7A7A7A;
        margin: 0 auto 90px;
    }

    form {
        .greenbrn {
            max-width: 100%;
            font-size: 18px;
            height: 62px;
        }
    }
}

.faq {
    background: #DCF4FE;
    padding: 100px 0;

    .section_title {
        text-align: center;
        margin-bottom: 70px;
    }
}

.faq__row {
    border-top: 1px solid #BEBEBE;

    &:last-child {
        border-bottom: 1px solid #BEBEBE;
    }
}

.faq__header {

    padding: 30px 50px 30px 0;
    position: relative;
    cursor: pointer;

    p {
        margin: 0;
        color: #282828;
        font-weight: 600;
        font-size: 25px;
    }

    .openfaqic {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 34px;
        height: 34px;
        background: #94B945;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        span {
            display: inline-block;
            width: 15px;
            height: 2px;
            background: #fff;
            position: absolute;
            transition: 0.3s;

            &:nth-child(2) {
                transform: rotate(-90deg);
            }
        }
    }

    &.active {
        .openfaqic {
            span {
                &:nth-child(2) {
                    transform: rotate(0);
                }
            }
        }
    }
}

.faq__body {
    display: none;
    padding-bottom: 30px;

    .faqbodywrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .faqimg {
        width: 100%;
        max-width: 28%;
        flex: 0 0 28%;

        img {
            width: 100%;
            border-radius: 30px;
        }
    }

    .faqinfo {
        width: 100%;
        max-width: 72%;
        flex: 0 0 72%;
        padding: 0 54px 0 85px;

        p {
            color: #7A7A7A;
            font-weight: 500;
            font-size: 17px;
            margin-bottom: 25px;
        }

        ul {
            padding-left: 15px;
            list-style: disc;
            margin: 10px 0 25px;

            li {
                color: #7A7A7A;
                font-weight: 500;
                font-size: 17px;
                margin-bottom: 5px;
            }
        }

        a {
            color: #94B945;
            font-weight: 600;
            font-size: 17px;
            line-height: 150%;
            position: relative;
            display: inline-block;
            padding-right: 30px;

            img {
                position: absolute;
                right: 0;
                top: 2px;
            }
        }
    }
}


@media(max-width:1599.8px) {
    .mainhero p {
        margin-bottom: 40px;
    }

    .whatweoffer .subtitle {
        margin-bottom: 50px;
    }

    .offerbox__top img {
        width: 150px;
    }

    .offerbox .offerbox__bottom {
        padding-bottom: 35px;
    }

    .testimonialslider {
        margin-top: 50px;
    }

    .testimonials .swiper-button-next {
        right: -40px;
    }

    .testimonials .swiper-button-prev {
        left: -40px;
    }

    .contactsection .subtitle {
        margin-bottom: 70px;
    }





    .faq__body .faqinfo p,
    .faq__body .faqinfo ul li {
        font-size: 16px;
    }

    .infosection,
    .choosesect,
    .testimonials,
    .faq {
        padding: 80px 0;
    }

    .whatweoffer,
    .contactsection {
        padding: 80px 0 100px;
    }
}

@media(max-width:1499.8px) {

    .mainhero {
        min-height: 750px;
    }

    .offerswrapper {
        padding: 0;
    }

    .offerbox .offerbox__top {
        height: 200px;
    }

    .offerbox .offerbox__bottom {
        padding: 0 20px 30px 20px;
    }

    .offerbox {
        border-radius: 0 40px 40px 40px;
    }

    .offerbox .title {
        font-size: 20px;
    }

    .choosesect .imgwrapper .leaf {
        width: 120px;
        left: -20px;
        bottom: -20px;
    }

    .choosesect .greenbrn,
    .infosection .greenbrn {
        margin-top: 10px;
    }

    .testimonial .testimonial__bott .usericon {
        max-width: 80px;
        flex: 0 0 80px;
    }

    .testimonial .testimonial__bott .userinfo {
        max-width: calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
    }

    .testimonial .testimonial__bott {
        align-items: flex-end;
    }

    .testimonial .testimonial__bott .userinfo .title {
        font-size: 14px;
    }

    .testimonial .testimonial__bott .userinfo p {
        line-height: 130%;
    }

    .testimonial {
        border-radius: 40px 40px 40px 0;
    }

    .contactsection {
        img {
            padding-right: 40px;
        }
    }

    .faq__header {
        padding: 25px 50px 25px 0;

        p {
            font-size: 22px;
        }
    }



}

@media(max-width:1199.8px) {
    .mainhero {
        min-height: 650px;
    }

    .offerswrapper .row {
        margin-left: -12px;
        margin-right: -12px;

        .col-xl-4 {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .testimonials .swiper-button-next {
        right: -20px;
    }

    .testimonials .swiper-button-prev {
        left: -20px;
    }

    .testimonial .testimonial__bott .userinfo .title {
        font-size: 16px;
    }

}

@media(max-width:991.8px) {

    .mainhero {
        padding: 150px 0 70px;
    }

    .mainhero img {
        display: block;
        margin: 30px auto 0;
    }

    .offerbox .offerbox__top {
        height: auto;
        padding-bottom: 20px;
    }

    .offerbox {
        margin-bottom: 30px;
    }

    .offerbox .title {
        text-overflow: inherit;
        overflow: visible;
        white-space: inherit;
        font-size: 22px;
    }

    .offerbox .description {
        display: block;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: inherit;
        overflow: visible;
        height: auto;
    }

    .infosection {

        .col-lg-6 {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }
    }

    .choosesect .choosesect__descr {
        margin-bottom: 30px;
    }

    .testimonial {
        height: 300px;
    }

    .testimonial .testimonial__top p {
        -webkit-line-clamp: 6;
    }

    .contactsection img {
        padding-right: 0;
        display: block;
        margin: 0 auto 30px;
    }

    .contactsection {
        .col-lg-6 {
            // &:nth-child(1) {
            //     order: 2;
            // }

            // &:nth-child(2) {
            //     order: 1;
            // }
        }
    }

    .contactsection .subtitle {
        margin-bottom: 50px;
    }

    .faq__body .faqinfo {
        padding: 0 0px 0 30px;
    }





    .choosesect,
    .faq,
    .infosection,
    .testimonials {
        padding: 70px 0;
    }

    .contactsection,
    .whatweoffer {
        padding: 70px 0 70px;
    }
}