.aboutblocks.aboutblocks__sm {
    .aboutblocks__item {
        min-height: 160px;
        padding-right: 60px;
    }

    .section_title {
        margin-bottom: 70px;
    }
}

@media(max-width:1199.8px) {
    .aboutblocks.aboutblocks__sm .aboutblocks__item {
        padding-right: 20px;
    }

    .aboutblocks.aboutblocks__sm .section_title {
        margin-bottom: 50px;
    }
}

@media(max-width:575.8px) {
    .aboutblocks.aboutblocks__sm .aboutblocks__item {
        min-height: initial;
    }
}
