.services {
    padding: 160px 0;
}

.services__item {
    display: block;
    border-radius: 0 30px 30px 30px;
    transition: .4s;
    background: rgba(#94B945, .4);
    margin-bottom: 33px;
    padding: 30px;
    width: 100%;
    height: 309px;
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 29px;
        line-height: 130%;
    }

    .title,
    p {
        color: #434343;
        transition: .4s;
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .morebtn {
        display: flex;
        align-items: center;
        transition: .4s;
        margin: auto 0 0;
        color: #94B945;
        font-size: 16px;
        line-height: 150%;
        font-weight: 600;

        svg {
            margin-left: 10px;
            path, circle{
                transition: .4s;
            }
        }
    }

    &:hover {
        background: #94B945;
        .title,
        p,
        .morebtn {
            color: #fff;
        }
        svg circle{
            fill: #fff;
        }
        svg path{
            stroke: #94B945;
        }
    }
}