.infosection-text {
    padding: 160px 0 130px;

    .section_title {
        margin-bottom: 50px;
    }


    .infosection__right {
        padding-left: 70px;
    }

    p {
        color: #7A7A7A;
        font-weight: 500;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.reverse-section {
    padding: 130px 0;
    background: rgba(#46B8E5, 0.2);

    .imgwrap {
        position: relative;
        text-align: right;

        .mpic {
            display: inline-block;
            max-width: calc(100% - 37px);
            border-radius: 40px 0 40px 40px;
        }

        .leaf {
            position: absolute;
            left: 0;
            bottom: -22px;
        }
    }

    .description {
        padding-left: 80px;

        p {
            color: #7A7A7A;
            font-weight: 500;

            span {
                color: var(--green);
                text-transform: uppercase;
            }
        }

        ul {
            list-style: disc;
            color: #7A7A7A;
            font-weight: 500;
            padding-left: 20px;
        }
    }

    .row {
        margin-bottom: 170px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .description {
                padding-left: 0;
                padding-right: 80px;
            }

        }
    }
}

.faq.faq__whitebg {
    background: #fff;
}

.choosesect.choosesect__si {
    background: #FAF6D5;
    padding: 140px 0;

    .imgwrapper {
        text-align: right;

        .leaf {
            left: 0;
        }
    }

    .choosesect__descr {
        padding-left: 60px;
        max-width: 100%;
    }

    p {
        max-width: 100%;

        a {
            color: var(--green);
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.newspapersect {
    padding: 130px 0;

    p {
        font-weight: 500;
        color: #7A7A7A;

        a {
            color: var(--green);
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .newspapersect__left {
        padding-right: 60px;
    }

    .newspapersect__right {
        padding-left: 60px;
    }

    ul {
        margin-bottom: 20px;
        list-style-type: disc;
        padding-left: 20px;

        li {
            font-weight: 500;
            color: #7A7A7A;
        }
    }

    .imgwrap {
        margin-top: 30px;
        position: relative;

        .bigpic {
            width: 100%;
            border-radius: 40px 0 40px 40px;
        }

        .leaf {
            position: absolute;
            right: -11px;
            bottom: 0;
        }

    }
}

.blueb {
    background: rgba(#46B8E5, 0.2);
}

.newspapersect.blueb {
    padding: 105px 0;
}

.greenbrn.mob {
    display: none;
}

