.infosection-text {
    padding: 160px 0 130px;

    .section_title {
        margin-bottom: 50px;
    }


    .infosection__right {
        padding-left: 70px;
    }

    p {
        color: #7A7A7A;
        font-weight: 500;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.reverse-section {
    padding: 130px 0;
    background: rgba(#46B8E5, 0.2);

    .imgwrap {
        position: relative;
        text-align: right;

        .mpic {
            display: inline-block;
            max-width: calc(100% - 37px);
            border-radius: 40px 0 40px 40px;
        }

        .leaf {
            position: absolute;
            left: 0;
            bottom: -22px;
        }
    }

    .description {
        padding-left: 80px;

        p {
            color: #7A7A7A;
            font-weight: 500;

            span {
                color: var(--green);
                text-transform: uppercase;
            }
        }

        ul {
            list-style: disc;
            color: #7A7A7A;
            font-weight: 500;
            padding-left: 20px;
        }
    }

    .row {
        margin-bottom: 170px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .description {
                padding-left: 0;
                padding-right: 80px;
            }

        }
    }
}

.faq.faq__whitebg {
    background: #fff;
}

.choosesect.choosesect__si {
    background: #FAF6D5;
    padding: 140px 0;

    .imgwrapper {
        text-align: right;

        .leaf {
            left: 0;
        }
    }

    .choosesect__descr {
        padding-left: 60px;
        max-width: 100%;
    }

    p {
        max-width: 100%;

        a {
            color: var(--green);
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.newspapersect {
    padding: 130px 0;

    p {
        font-weight: 500;
        color: #7A7A7A;

        a {
            color: var(--green);
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .newspapersect__left {
        padding-right: 60px;
    }

    .newspapersect__right {
        padding-left: 60px;
    }

    ul {
        margin-bottom: 20px;
        list-style-type: disc;
        padding-left: 20px;

        li {
            font-weight: 500;
            color: #7A7A7A;
        }
    }

    .imgwrap {
        margin-top: 30px;
        position: relative;

        .bigpic {
            width: 100%;
            border-radius: 40px 0 40px 40px;
        }

        .leaf {
            position: absolute;
            right: -11px;
            bottom: 0;
        }

    }
}

.blueb {
    background: rgba(#46B8E5, 0.2);
}

.newspapersect.blueb {
    padding: 105px 0;
}

.greenbrn.mob {
    display: none;
}

@media(max-width:1599.8px) {

    .infosection-text {
        padding: 120px 0 80px;
    }

    .reverse-section,
    .choosesect.choosesect__si,
    .newspapersect {
        padding: 80px 0;
    }

    .reverse-section .row {
        margin-bottom: 120px;
    }

}

@media(max-width:1199.8px) {
    .infosection-text .infosection__right {
        padding-left: 0;
    }

    .reverse-section .description {
        padding-left: 0;
    }

    .reverse-section {
        .row {
            align-items: flex-start !important;
        }
    }

    .reverse-section .row:nth-child(2n) .description {
        padding-right: 0;
    }

    .choosesect.choosesect__si .choosesect__descr {
        padding-left: 0;
    }

    .newspapersect .newspapersect__left {
        padding-right: 0;
    }

    .newspapersect .newspapersect__right {
        padding-left: 0;
    }

}

@media(max-width:991.8px) {
    .greenbrn.mob {
        display: inline-flex;
    }

    .infosection-text {
        padding: 85px 0 60px;

        .section_title {
            margin-bottom: 25px;
        }

        .infosection__left {
            margin-bottom: 20px;
        }

        .greenbrn {
            display: none;
        }

        .greenbrn.mob {
            margin-top: 20px;
            display: inline-flex;
        }
    }

    .choosesect.choosesect__si,
    .newspapersect,
    .reverse-section {
        padding: 70px 0;
    }

    .reverse-section .imgwrap {
        margin-bottom: 30px;
    }

    .reverse-section .imgwrap .mpic {
        max-width: 100%;
        width: 100%;
    }

    .reverse-section .imgwrap .leaf {
        left: -20px;
    }

    .reverse-section .row {
        margin-bottom: 100px;
    }

    .choosesect .imgwrapper .bigimg {
        width: 100%;
    }

    .choosesect.choosesect__si .imgwrapper {
        margin-bottom: 30px;

        .leaf {
            left: -20px;
        }
    }

    .newspapersect .imgwrap .leaf {
        right: -20px;
    }

    .newspapersect.blueb {
        padding: 70px 0;

        .section_title br {
            display: none;
        }
    }

}

@media(max-width:575.8px) {
    .infosection-text .section_title {
        margin-bottom: 20px;
    }

    .choosesect.choosesect__si,
    .newspapersect,
    .reverse-section,
    .newspapersect.blueb {
        padding: 50px 0;
    }

    .reverse-section .imgwrap .leaf {
        width: 100px;
        left: -10px;
        bottom: -10px;
    }

    .abouttop__img .leaf,
    .choosesect.choosesect__si .imgwrapper .leaf {
        left: -10px;
    }

    .reverse-section .row {
        margin-bottom: 60px;
    }

    .reverse-section .description p:last-child,
    .choosesect.choosesect__si p:last-child,
    .newspapersect p:last-child {
        margin-bottom: 0;
    }

    .choosesect.choosesect__si .choosesect__descr {
        margin-bottom: 0;
    }

    .newspapersect .imgwrap .bigpic {
        border-radius: 20px 0 20px 20px;
    }

    .newspapersect .imgwrap .leaf {
        width: 100px;
        right: -10px;
        bottom: 2px;
    }

}
