.services {
    padding: 160px 0 100px;
}

.services__item {
    display: block;
    border-radius: 0 30px 30px 30px;
    transition: .4s;
    background: rgba(#94B945, .4);
    margin-bottom: 33px;
    padding: 30px;
    width: 100%;
    height: 309px;
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
    }

    .title,
    p {
        color: #434343!important;
        transition: .4s;
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        span{
            color: #434343!important;
        }
        strong{
            font-weight: 400!important;
        }
    }


    .morebtn {
        display: flex;
        align-items: center;
        transition: .4s;
        margin: auto 0 0;
        color: #94B945;
        font-size: 16px;
        line-height: 150%;
        font-weight: 600;

        svg {
            margin-left: 10px;

            path,
            circle {
                transition: .4s;
            }
        }
    }

    &:hover {
        background: #94B945;

        .title,
        p,
        .morebtn {
            color: #fff;
        }

        svg circle {
            fill: #fff;
        }

        svg path {
            stroke: #94B945;
        }
    }
}

// servinfo sections --- //

.servinfo {
    padding: 120px 0 130px;
}

.servinfo__content {
    color: #7A7A7A;

    a {
        color: #94B945;
        text-decoration: underline;
        text-underline-offset: 3px;
        transition: .3s;

        &:hover {
            opacity: 0.6;
        }
    }
    li{
        margin-bottom: 10px;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }
    ol{
        padding-left: 20px;
    }
}

.servinfo__image {
    position: relative;
    margin-left: 95px;
    margin-bottom: -27px;
    width: fit-content;

    .main-image {
        border-radius: 40px 0 40px 40px;
    }

    .leaf {
        position: absolute;
        bottom: -10px;
        left: -25px;
        width: 25%;
        background-size: cover;
    }
}

// --- ADAPTIVE --- //
@media (max-width:1599.8px) {
    .services {
        padding-bottom: 60px;
    }
}

@media (max-width:1399.8px) {
    .services {
        padding: 130px 0 100px;
    }
    .services__item{
        padding: 30px 24px;
    }


    .services__item .title {
        font-size: 20px;
    }

    .servinfo {
        padding-top: 100px;
    }
}

@media (max-width:991.8px) {
    .services {
        padding: 100px 0 30px;
    }

    .servinfo__image {
        margin-left: 25px;
    }

    .servinfo {
        padding-top: 70px;
    }

}

@media (max-width:575.8px) {
    .services__item {
        height: 280px;
    }

    .services {
        padding: 80px 0 20px;
    }

    .servinfo {
        padding-top: 50px;
    }
}